<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="tabs">
                <ul id="top">
                  <input type="text"  class="txt" placeholder="请输入内容">
                </ul>
                <ul id="main">
                        <li>
                          <a href="#">
                              <img src="https://www.eg-live.com/Storage/Shop/1/Products/1492/1_350.png" alt="" srcset="">
                              <span>林肯新源1</span>
                          </a>
                        </li>
                         <li>
                           <a href="#">
                               <img src="https://www.eg-live.com/Storage/Shop/1/Products/1476/1_350.png" alt="" srcset="">
                               <span>林肯新源2</span>
                           </a>
                         </li>
                          <li>
                             <a href="#">
                                 <img src="https://www.eg-live.com/Storage/Shop/1/Products/1493/1_350.png" alt="" srcset="">
                                 <span>林肯新源3</span>
                             </a>
                           </li>
                           <li>
                               <a href="#">
                                   <img src="https://www.eg-live.com/Storage/Shop/1/Products/1354/1_350.png" alt="" srcset="">
                                   <span>林肯新源4</span>
                               </a>
                             </li>
                </ul>
        </div>

        <div class="alter">
            
        </div>
</body>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    
</script>
</html>